button,
ul.tags li,
ul.tags::before {
    display: inline-block;
    font-size: 1.5rem;

    padding: .5em;
    border-radius: 1.25em;
    margin: .25em;

    color: var(--background-color);
    background-color: var(--accent-color);

		transition: all .25s;
}

button,
ul.tags li {
	cursor: pointer;
}

ul.tags li::before {
	content: '#';
}

button:hover,
ul.tags li:hover {
	color: var(--accent-color);
	background-color: var(--background-color);
	box-shadow: inset 0px 0px 0px 2px var(--accent-color);
}
