.card {
    display: inline-flex;
    position: relative;

		--size: 14vw;
    width: var(--size);
		height: calc(2 * var(--size) / 3);
		padding-top: calc(var(--size) / 3);
    margin: 1vw;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
		font-weight: 700;
		cursor: pointer;

    border-radius: 1.5rem;
    box-shadow: 0 0 1rem var(--shadow),-.5rem -.5rem 0 var(--accent-color);
}

.card svg {
	aspect-ratio: 1/1;
	--size: 3em;
	width: var(--size);
	position: absolute;
	left: calc(50% - var(--size) / 2);
	top: calc(33% - var(--size) / 2);
	fill: var(--accent-color);
}

@media screen and (max-width: 1080px) {
    .card {
        --size: 26vw;
    }
}

@media screen and (max-width: 512px) {
  .card {
    --size: 40vw;
    margin: 3vw;
  }
}
